modules = ["java-graalvm22.3", "python-3.12", "nodejs-20", "bash", "nix"]

[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "cloudrun"

[userenv]

[userenv.shared]
B2_REGION = "ca-east-006"
PORT = "3000"
PUSH_SERVER_URL = "https://duoshield.onrender.com"
KEY_ALIAS = "duoshield"
GOOGLE_SERVICES_JSON = "{\"project_info\":{\"project_number\":\"000000000000\",\"project_id\":\"duoshield-8caf1\",\"storage_bucket\":\"duoshield-8caf1.appspot.com\"},\"client\":[{\"client_info\":{\"mobilesdk_app_id\":\"1:000000000000:android:0000000000000000\",\"android_client_info\":{\"package_name\":\"com.duoshield.app\"}},\"oauth_client\":[],\"api_key\":[{\"current_key\":\"stub-key-for-build-only\"}],\"services\":{\"appinvite_service\":{\"other_platform_oauth_client\":[]}}}],\"configuration_version\":\"1\"}"
GOOGLE_APPLICATION_CREDENTIALS_JSON = '{"type":"service_account","project_id":"duoshield-8caf1","private_key_id":"stub","private_key":"-----BEGIN PRIVATE KEY-----\nMIIBVAIBADANBgkqhkiG9w0BAQEFAASCAT4wggE6AgEAAkEA0Z3VS5JJcds3xfn/\nygWyF0/Nujb3vHBcVsHmH+iH8H+kJZgWMLpX2A6yrq/1xxfoccMBt29UcAtHgQvW\nBLLONQIDAQABAkEAmVQV5wRi0kOu6RS0tqBjNXW1SNBCXPYSl0Xhh0YKAhZa8xnB\nQAIhAOAvXHnXqAXG+xVjmuTLZ2wJt7v2S3zJ5xz9wq1w9YO1AiEAxfV6xk2Qq2Qq\nAiEAxfV6xk2Qq2QqAiEAxfV6xk2Qq2QqAiEAxfV6xk2Qq2Qq\n-----END PRIVATE KEY-----\n","client_email":"stub@duoshield-8caf1.iam.gserviceaccount.com","client_id":"000000000000000000000","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token"}'

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Push Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node index.js"
waitForPort = 3000

[[workflows.workflow]]
name = "Build APKs"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && bash build-apks.sh"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 23636
externalPort = 80
